<div>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}Devour!{{else}}Conquered!{{/if}}
	</button>

	<!--<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>-->
</div>