<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Ready!{{else}}Eat Me!{{/if}}
	</button>
	<button  class="delKitty" data-id="{{id}}" >Delete Me!</button>
</li>